/* Start Variables  */
:root {
  --main-color: #02bced;
  --space-top: 30px;
  --space-bottom: 30px;
}
/* End Variables  */

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* Small screens */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* Medium Screen */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
/* Large Screen */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Open Sans', sans-serif;
}
ul {
  list-style: none;
}

/* Start Header  */
header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}
header .container .logo img {
  width: 55px;
}
header .container {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}
header .container::after {
  content: '';
  position: absolute;
  height: 1px;
  background-color: #636364;
  width: calc(100% - 30px);
  bottom: 5px;
  left: 15px;
  z-index: -1;
}

header .container nav {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
  min-height: 49px;
}
header .container nav ul {
  display: flex;
}
header .container nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 15px;
  transition: 0.3;
  position: relative;
}
header .container nav .form {
  display: flex;
  width: 45px;
  height: 30px;
  align-items: center;
  position: relative;
  border-left: 1px solid white;
}
header .container nav .form i {
  color: white;
  position: absolute;
  right: 0;
}
header .container nav ul .active,
header .container nav ul li a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
header .container nav ul li a {
  margin-left: 15px;
}
.toggle {
  color: white;
  font-size: 25px;
}

@media (min-width: 767px) {
  header .container nav .toggle {
    display: none;
  }
}

@media (max-width: 767px) {
  header .container nav {
    justify-content: space-between;
  }
  header .container nav ul {
    display: none;
  }
  header .container nav .toggle:hover + ul {
    display: flex;
    flex-direction: column;
    background-color: #00000070;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
  }
  header .container nav .toggle:hover + ul li a {
    display: block;
    padding: 15px;
  }
}
/* End Header */
/* Start landing */
.landing {
  position: relative;
  background-image: url('/images/parallel-world_3840x2160.jpg');
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.landing .text {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 50%;
  background-color: #42afcf6e;
}
.landing .text .content {
  padding: 20px 60px;
}
.landing .text .content h2 {
  margin-bottom: 20px;
  font-weight: normal;
  line-height: 1.5;
  color: white;
}
.landing .text .content p {
  font-size: 16px;
  line-height: 1.6;
  color: white;
}

.change-bg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 25px;
}
.fa-angle-left {
  position: absolute;
  left: 30px;
}
.fa-angle-right {
  position: absolute;
  right: 30px;
}
.circles {
  position: absolute;
  left: 50%;
  bottom: 30px;
  display: flex;
  transform: translateX(-50%);
}
.circles li {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid white;
  border-radius: 50%;
}
.circles .active {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: #0000000f;
}
@media (max-width: 767px) {
  .landing .text {
    width: 100%;
  }
  .change-bg {
    display: none;
  }
  .landing .text .content {
    width: 100%;
  }
}
/* End landing */
/* Start Component */
.main-heading {
  padding: 25px 30px;
  display: flex;
  position: relative;
  justify-content: center;
}
.main-heading .text {
  width: 50%;
  text-align: center;
}
@media (max-width: 768px) {
  .main-heading .text {
    width: 100%;
  }
}
.main-heading .text h2 {
  margin-bottom: 20px;
  text-transform: uppercase;
}
.main-heading .text p {
  color: #777;
  line-height: 1.5;
  margin-bottom: 35px;
}
.main-heading .text h2::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 90px;
  background-color: black;
  left: 50%;
  transform: translateX(-50%);
  top: 56px;
}
.main-heading .text h2::after {
  content: '';
  position: absolute;
  height: 10px;
  width: 10px;
  border: 1px solid black;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  top: 51px;
  background-color: white;
}
/* End Component */
/* Start Services */
.services {
  margin-top: var(--space-top);
  margin-bottom: var(--space-bottom);
}
.services .services-contain {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.services .services-contain .srv-box {
  text-align: center;
  padding: 25px 0;
}
.services .services-contain .srv-box i {
  margin-bottom: 20px;
}
.services .services-contain .srv-box .text h3 {
  color: #47d2fa;
  margin-bottom: 15px;
}
.services .services-contain .text p {
  color: #777;
  line-height: 1.5;
}
.services .services-contain .text {
  text-align: center;
}
@media (min-width: 768px) {
  .services .services-contain {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-row-gap: 20px;
    grid-column-gap: 40px;
  }
  .services .services-contain .srv-box {
    display: flex;
    padding: 20px;
  }
  .services .services-contain .srv-box i {
    margin-right: 15px;
  }
  .services .services-contain .text {
    text-align: left;
  }
}
/* End Services */
/* Start Design */
.design {
  margin-top: var(--space-top);
  margin-bottom: var(--space-bottom);
  background-image: url('/images/besign-bg.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  height: 400px;
  overflow: hidden;
}
.design::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: #0000000f;
}
.design .image,
.design .text {
  position: relative;
  z-index: 2;
  flex: 1;
}
.design .image img {
  position: relative;
  top: 88px;
}
.design .text {
  padding: 40px;
  background-color: #42afcf6e;
}
.design .text h2 {
  font-weight: normal;
  margin-bottom: 30px;
}
.design .text ul li {
  padding: 5px 0;
}
.design .text ul li::before {
  font-family: 'Font Awesome 5 Free';
  content: '\f108';
  font-weight: 900;
  margin-right: 10px;
  position: relative;
  top: 2px;
}
@media (max-width: 768px) {
  .design .image {
    display: none;
  }
}
/* End Design */

/* Start Portfolio */
.portfolio {
  margin-top: var(--space-top);
  margin-bottom: var(--space-bottom);
}
.portfolio .container .links {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.portfolio .container .links li {
  padding: 10px;
}
.portfolio .container .links li.active {
  background-color: var(--main-color);
}
.portfolio .container .links li:hover {
  background-color: var(--main-color);
}
.portfolio .imgs-contain {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.portfolio .imgs-contain .box {
  position: relative;
}
.portfolio .imgs-contain .box img {
  max-width: 100%;
  transition: 0.3s;
}
@media (min-width: 768px) {
  .portfolio .imgs-contain .box {
    flex-basis: 50%;
  }
}
@media (min-width: 1199px) {
  .portfolio .imgs-contain .box {
    flex-basis: 25%;
  }
}
.portfolio .imgs-contain .box .caption {
  padding: 20px;
  position: absolute;
  width: 100%;
  left: 0;
  background-color: white;
  bottom: -100%;
  transition: 0.3s;
}
.portfolio .imgs-contain .box:hover .caption {
  bottom: 0;
}
.portfolio .imgs-contain .box:hover img {
  transform: rotate(3deg) scale(1.1);
}
.portfolio .more {
  background-color: var(--main-color);
  display: block;
  width: fit-content;
  padding: 10px 20px;
  margin: 20px auto;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}
/* End portfolio */
/* Start Video */
.video {
  position: relative;
}
.video::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 99.7%;
  top: 0;
  left: 0;
  background-color: #00000042;
}
.video video {
  width: 100%;
}
.video .text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  background-color: #42afcf6e;
  text-align: center;
  padding: 20px;
}
.video .text h4 {
  text-transform: uppercase;
  color: white;
  font-weight: normal;
  margin-bottom: 20px;
}
.video .text p {
  margin-bottom: 15px;
  color: white;
}
.video .text .btn {
  display: block;
  background-color: #00000080;
  width: fit-content;
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 auto;
  color: white;
}
/* End Video */
/* Start About */
.about {
  margin-top: var(--space-top);
  overflow: hidden;
  height: 400px;
  position: relative;
  text-align: center;
}
@media (max-width: 768px) {
  .about img {
    width: 80%;
  }
}
/* End About */
/* Strat Stats */
.stats {
  padding-top: var(--space-top);
  padding-bottom: var(--space-bottom);
  background-image: url('/images/stats.jpg');
  background-size: cover;
  position: relative;
  text-align: center;
}
.stats::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #00000060;
}
.stats .container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.stats .container .box {
  color: white;
  padding: 50px;
  background-color: #42afcf6e;
}
@media (max-width: 767px) {
  .stats .container .box {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .stats .container .box {
    flex-basis: 50%;
  }
}
@media (min-width: 991px) {
  .stats .container .box {
    flex-basis: 25%;
  }
}

.stats .container .box i {
  width: 30px;
  height: 30px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px;
  border-radius: 50%;
}
.stats .container .box .number {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 15px;
}
.stats .container .box p {
  font-size: 15px;
}
/* End Stats */
/* Start skills */
.our-skills {
  padding-top: var(--space-top);
  padding-bottom: var(--space-bottom);
}
.our-skills .container .testimonials img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 35px;
}
.our-skills .container > div > h3 {
  font-weight: normal;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.our-skills .container .testimonials .content {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}
.our-skills .container .testimonials .content .text {
  line-height: 1.8;
  border-bottom: 1px solid #777;
}
.our-skills .container .testimonials .content .text p {
  font-size: 14px;
  text-align: right;
  color: #777;
}
.our-skills .container > div > p {
  text-align: center;
  color: #777;
  line-height: 1.8;
  margin-bottom: 20px;
}
@media (min-width: 991px) {
  .our-skills .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .our-skills .container .testimonials {
    flex-basis: 45%;
    position: relative;
  }
  .our-skills .container .testimonials ul.bullets {
    position: absolute;
    left: 50%;
    display: flex;
    transform: translateX(-50%);
  }
  .our-skills .container .testimonials .bullets li {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 50%;
  }
  .our-skills .container .testimonials .bullets .active {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
  }
  .our-skills .container .skills {
    flex-basis: 45%;
  }
}
.our-skills .skills .prog-contain {
  margin-bottom: 40px;
  position: relative;
}
.our-skills .skills .prog-contain h4 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.our-skills .skills .prog-contain .prog {
  position: relative;
  height: 30px;
  background-color: #dedadc;
}
.our-skills .skills .prog-contain .prog span {
  position: absolute;
  height: 100%;
  background-color: var(--main-color);
}
.our-skills .skills .prog-contain .prog span::before {
  content: attr(data-progress);
  background-color: black;
  color: white;
  position: absolute;
  top: -30px;
  padding: 3px 0;
  right: -15px;
  border-radius: 4px;
  text-align: center;
}
.our-skills .skills .prog-contain .prog span::after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 7px;
  border-color: black transparent transparent;
  top: -6px;
  right: -6px;
}
/* End skills */
/* Start Quote */
.quote {
  padding-top: var(--space-top);
  padding-bottom: var(--space-bottom);
  background-image: url('/images/quote.jpg');
  background-size: cover;
  text-align: center;
  position: relative;
}
.quote::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #00000040;
}
.quote .container {
  position: relative;
  padding: 50px;
}
.quote .container q {
  color: white;
  font-size: 30px;
  display: block;
  line-height: 1.8;
}

.quote .container q::before {
  font-family: 'Font Awesome 5 Free';
  content: '\f10d';
  font-weight: 900;
}
.quote .container q::after {
  font-family: 'Font Awesome 5 Free';
  content: '\f10d';
  font-weight: 900;
}
.quote .container span {
  color: white;
}
/* End Quote */
/* Start pricing */
.pricing {
}
.pricing .container .plans {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.pricing .container .plans .plan {
  text-align: center;
  background-color: #fcfcfc;
}
.pricing .container .plans .plan .head {
  padding: 20px 0;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.pricing .container .plans .plan .head h3 {
  font-weight: normal;
  margin-bottom: 20px;
}
.pricing .container .plans .plan .head span {
  font-weight: bold;
  font-size: 35px;
}
.pricing .container .plans .plan .head span::before {
  content: '$';
  position: relative;
  font-size: 15px;
  margin-right: 20px;
  top: -30px;
  font-weight: normal;
}
.pricing .container .plans .plan .head span::after {
  content: '/MO';
  position: relative;
  font-size: 15px;
  margin-left: 20px;
}
/* End pricing */
